.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.banner {
  background: #FF7171;
}

.banner-text {
  flex-grow: 1;
  line-height: 1.4;
  text-align: left;
}

.logo {
  padding: 15px;
  background-color: #F0E4D7;
}

.logo h1 {
  display: inline;
  margin-left: 30px;
  vertical-align: middle;
}

.logo a img {
  align: right;
}

.logo a {
  text-decoration: none;
}

.menu-bar {
  overflow: hidden;
  background-color: #F5C0C0;
}

.menu-bar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.spacer {
  width: 100%;
  height: 55px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menu-bar a:hover,
.dropdown:hover .dropbtn {
  background-color: #FF7171;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #F0E4D7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #F5C0C0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

* {
  box-sizing: border-box
}

/* body {
  font-family: Verdana, sans-serif;
  margin: 0
} */

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.btn1 {
  display: inline-block;
  background: #F0E4D7;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 20px;
  transition: background 0.5s;
  outline: none;
}
.btn1:hover {
  background: #563434;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 1000px;
  position: relative;
  margin: auto;
  top: 100px;
  z-index: 0;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  background-color: rgba(240, 228, 215, 0.8);
  /* font-size: 15px; */
  /* padding: 8px 12px; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* bottom: 8px; */
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

  .prev,
  .next,
  .text,
  .about-text {
    font-size: 11px
  }
}

.about {
  background-color: #F5C0C0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 7px;
}

.about-text {
  float: left;
  color: black;
  padding: 0px 50px;
  vertical-align: middle;
}

.about-img {
  max-width: 100%;
  height: auto;
  display: inline;
  flex-basis: 70%;
  padding: 30px 20px;
}

.review {
  background-color: #F0E4D7;
}

.review-text h1 {
  padding-left: 50px;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px 50px;
  align-items: center;
  justify-content: center;

}

.column img {
  border-radius: 50%;
  max-width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.column p {
  padding-top: 30px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.event {
  background-color: #F5C0C0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}

.event-text {
  text-align: center;
}

.column img,
h2 {
  align-self: center;
}

.footer {
  width: 100%;
  height: 100%;
  background-color: #F0E4D7;
}

/* .footer-content div{
  float: left;
  width: 23%;
  padding: 0 10px;
  text-align: center;
} */

.footer-content {
  display: flex;
  justify-content: space-between;
}

.alignleft {
  width: 33.33333%;
  text-align: left;
  padding-bottom: 50px;
}

.aligncenter {
  width: 33.33333%;
  text-align: center;
  /* padding: 60px 0; */
  line-height: 200px;

}

.aligncenter p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.alignright {
  width: 33.33333%;
  text-align: right;
  padding: 20px 30px 0px 0px;
}

/****************CUPCAKES PAGE************************/
.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img {
  width: 70%;
}
h4 {
  font-weight: normal;
}
.col-4 p {
  font-size: 14px;
}
.col-4:hover {
  transform: translateY(-5px);
}
.small-container a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  background: #F5C0C0;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 20px;
  transition: background 0.5s;
}
.btn:hover {
  background: #563434;
}
.col-4 input {
  width: 40px;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #F5C0C0;
}
input:focus {
  outline: none;
}
/* .title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
} */
/* .title::after{
  content:"";
  background: #F5C0C0;
  width:80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} */
.row-2 {
  justify-content: space-between;
  margin: 100px auto 50px;
}
.select {
  border: 1px solid #F5C0C0;
  padding: 5px;
}
.select:focus {
  outline: none;
}

/*******FAQs******************/

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
